<html>
    <head>
        <%- include('header.ejs') %>
       
    </head>

    <body>
        <%- include('navbar.ejs') %>
        <br>

        <h1><%= title %></h1>
        <% if(delMsg!='') {%>
            <div class="alert alert-danger" role="alert">
                <strong><%= delMsg %></strong>
              </div>
            <% }%>
            <% if(editMsg!='') {%>
                <div class="alert alert-success" role="alert">
                    <strong><%= editMsg %></strong>
                  </div>
                <% }%>

                <div class="container">
                    <div class="table-responsive table-responsive-md table-responsive-lg"> 
                    <table class="table table-bordered" style="margin-top: 1%;">
                        <th>Category Name</th>
            
                            <th>Edit</th>
                            <th>Delete</th>
                            
                            <tbody>
                    <% record1.forEach(function(row1){ %>
            
                   
                                <tr>
                                    <td>
                                       <%= row1.CategoryName %>
                                    </td>
                                  
                                    <td>
                                        <a href="/updateCate/<%= row1._id %>" class="btn btn-info btn-xs" ><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td><a href="/deleteCate/<%= row1._id %>" class="btn btn-danger btn-xs" ><i class="fa fa-trash"></i></a></td>
                                </tr>
                            <%});%>
                            </tbody>
                        </table>
                        </div>
                        </div>
<h1>All Category</h1>
        <div class="container">
        <table class="table table-bordered" style="margin-top: 1%;">
            <th>Category Name</th>

              
                
                <tbody>
        <% record.forEach(function(row){ %>

       
                    <tr>
                        <td>
                           <%= row.CategoryName %>
                        </td>
                      
                       
                    </tr>
                <%});%>
                </tbody>
            </table>
            </div>

            <%- include('footer.ejs') %>
            <script>
                $(document).ready(function() {
                    $('.tooltip1').tooltipster({
                        theme: 'tooltipster-punk',
                        animation: 'fade',
                          delay: 200,
                        arrow: "speech bubble"
                        
                    });
                });
            </script>
    </body>
</html>
