<html>
    <head>
      <%- include('header.ejs') %>
    </head>

    <body>
        <%- include('navbar.ejs') %>
<br>
        <h1><%= title %></h1>

        <% if(delMsg!='') {%>
            <div class="alert alert-danger" role="alert">
                <strong><%= delMsg %></strong>
              </div>
            <% }%>
            <% if(editMsg!='') {%>
                <div class="alert alert-success" role="alert">
                    <strong><%= editMsg %></strong>
                  </div>
                <% }%>
        <div class="container">
        <table class="table table-bordered" style="margin-top: 1%;">
          <th>SR No.</th> 
          <th>Category Name</th>
            <th>Project Name</th>
            <th>View Dtails</th>
               <th>Edit</th> 
               <th>delete</th>
                <tbody>
                 <%   var i=1;
                 record.forEach(function(row,index){%>

                    <tr>
                      <td><%= i %></td>
                        <td>
                    <%= row.CategoryName %>
                        </td>
                      <td> <%= row.ProjectName %></td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= row._id %>">
                            View Detail
                          </button>
                      </td>
                        <td>
                            <a href="/editPass/<%= row._id %>" class="btn btn-info btn-xs" ><i class="fa fa-edit"></i></a>
                        </td>
                        <td> 
                            <a href="/deletePass/<%= row._id %>" class="btn btn-danger btn-xs" ><i class="fa fa-trash"></i></a>
                        </td>

                        <div class="modal" id="exampleModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Password Details</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <%- passdata[index] %>
                             
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
                                  <!-- <button type="button" class="btn btn-primary">OK</button> -->
                                </div>
                              </div>
                            </div>
                          </div>
                    </tr>
                   <% 
               i++;
                  });
                   %>
                </tbody>
            </table>

            <% if (pages > 0) { %>
              <ul class="pagination text-center">
                  <% if (current == 1) { %>
                      <li class="disabled page-item"><a class="page-link" >First</a></li>
                  <% } else { %>
                      <li class="page-item"><a href="/passwordDetails/1" class="page-link" >First</a></li>
                  <% } %>
                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                  <% if (i !== 1) { %>
                      <li class="disabled page-item"><a class="page-link" >...</a></li>
                  <% } %>
                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                      <% if (i == current) { %>
                          <li class="active page-item"><a class="page-link" ><%= i %></a></li>
                      <% } else { %>
                          <li class="page-item"><a href="/passwordDetails/<%= i %>" class="page-link" ><%= i %></a></li>
                      <% } %>
                      <% if (i == Number(current) + 4 && i < pages) { %>
                          <li class="disabled page-item" ><a class="page-link" >...</a></li>
                      <% } %>
                  <% } %>
                  <% if (current == pages) { %>
                      <li class="disabled page-item"><a class="page-link" >Last</a></li>
                  <% } else { %>
                      <li class="page-item"><a href="/passwordDetails/<%= pages %>" class="page-link" >Last</a></li>
                  <% } %>
              </ul>
          <% } %>
            </div>
            <script>
              $(document).ready(function() {
                  $('.tooltip1').tooltipster({
                      theme: 'tooltipster-punk',
                      animation: 'fade',
                        delay: 200,
                      arrow: "speech bubble"
                      
                  });
              });
          </script>
          <%- include('footer.ejs') %>
    </body>
</html>